<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">
		
		<!-- Scan for page objects -->
		<context:component-scan base-package="us.getit.hitlist.page" />
		
		<!-- our "browser" -->
		<bean id="driver" class="org.openqa.selenium.firefox.FirefoxDriver" destroy-method="close" />
		
		<util:map id="configData" key-type="java.lang.String" value-type="java.lang.String">
			<entry key="baseUrl" value="http://localhost:8080/hitlist" />
			<entry key="listPage" value="/list" />
			<entry key="addPage" value="/add" />
			<entry key="showPage" value="/show" />
		</util:map>
		
</beans>
